*{
    margin: 0;
    height: 100%;
}

body{
    overflow-x:hidden;
    overflow-y: hidden;
    width: 100%;
    height: 95%;
    background-image: linear-gradient(to right, #ebeaff, #eee7fc, #f0e4f9, #f3e2f5, #f5dff1, #f5e1f1, #f6e3f2, #f6e5f2, #f6ecf7, #f8f3fb, #fbf9fd, #ffffff);
}

/*start of banner*/

.header{
    height: 187px;
    position: relative;
    background-color: #ffa0d3;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden;
    overflow-y:hidden;
}

.fumiko{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.discord{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 20px;
    float: right;
    margin-top: 10px;
    
}

.img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 295px;
    height: 71px;
    z-index: 1;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img2 {
    position: absolute;
    top: 85px;
    left: 0px;
    width: 295px;
    height: 71px;
    z-index: 1;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img1:hover{
    box-shadow: 0 5px 15px 0px #dc5872;
    transition: box-shadow .3s;
}

.img2:hover{
    box-shadow: 0 5px 15px 5px #dc5872;
    transition: box-shadow .3s;
}


/*end of banner */

.bruh{
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    height:100%;
}

.move{
    margin: 0 auto;
    width: 25%;
    margin-top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #fe80c4;
}

a:hover{
    color:#dc5872;
    transition: color .5s;
}

@media (max-width: 1366px){

    
    
  

}


@media (orientation: portrait){

    /*start of banner */
    .header{
        width: 100%;
        height: 93px;
    }

    .fumiko{
        width: 200%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .discord{
        display: none;
    }
/* end of banner*/

.move{
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 20%;
}

}